.input-group-text {
  border-radius: 0.5rem 0 0 0.5rem !important;
}

.form-control {
  border-radius: 0 0.5rem 0.5rem 0 !important;
  padding: 0.6rem;
}

.form-control:focus {
  box-shadow: none;
  border-color: #dee2e6;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: #0b5ed7;
  transform: scale(1.02);
}